.break--section{
    position: absolute;
    bottom: 200px;
    right: 10px;
    background-color: #fff;
    padding: 1.5em;
  box-shadow: 0px 26px 36px -20px rgba(0, 0, 0, 0.4);
  transform: translateY(10px);
  opacity: 0;
transition: transform 0.4s ease-in;
animation: show 0.4s ease-in forwards;
  

    h3{
        font-size: 1rem;
        position: relative;
         &::after {
             position: absolute;
             content: '';
             border-bottom:1px solid var(--base);
             width: 85px;
             top: 0;
             left: 0;
             right: 0;
             bottom: -4px;
         }

    }

    
}
.break--button {
    padding: 8px 16px;
    font-size: 0.8rem;
    margin: 0.5em;
    border-radius: 20px;
    letter-spacing: 2px;
    background-color: var(--break);

    &:hover {
        background-color: #474747;
    }

}
@keyframes show{
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}