:root{
   --base:#CC3B36;
   --text:#220100;
   --bg:#EFFCF1;
   --bg2:#fdfdfd;
   --hover:#b83531;

   //circle
   --circle1:#3DE654;
   --circle2:#E66D3D;
   --circle3:#E63D86;
   --break:#333333;

       --font1: 'Archivo',
       sans-serif;

       --font2: 'Roboto',
       sans-serif;

}