.circle--section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.base--timer{
    width: 200px;
    height: 200px;
    position: relative;
  
}
.base-timer__circle {
    fill: none;
    stroke: none;
}
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke:#e5e5e5;
}
.base-timer__label {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
     width: 200px;
     font-weight: 600;
     color: var(--purple);
     font-size: 2rem;

 
   
}
.base-timer__path-remaining{
    stroke-width: 7px;
    stroke-linecap: round;
     transform: rotate(90deg);
     transform-origin: center;
     transition: 1s linear transform;
  
  
}
.base-timer__svg {
     transform: scaleX(-1);
}

.button--section{
    background-color: var(--grey);
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    border-radius: 50px;

    button{
        @include button;
         background-color: var(--grey);
         cursor: pointer;
         font-weight: 500;

    }

}