@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --black:#000;
  --purple:#14213D;
  --cont:#4A8BFF;
  --red:#FF3636;
  --white:#fff;
  --grey:#FAFAFA;
  --green:#1BC060;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}

body {
  line-height: 1.75;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

#root {
  max-width: 480px;
}

.title {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.48px;
  font-weight: 700;
}

.emp {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.bt-text {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5rem;
}

nav {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  color: var(--red);
}

nav button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
}

.title--section {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title--section h2 {
  color: var(--purple);
}

.input--section {
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  gap: 0.5rem;
}

.input--section button {
  padding: 0.571em 1.143em;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  border: none;
  line-height: 1.5rem;
  letter-spacing: 1px;
  background-color: var(--cont);
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
}

.input--section input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-left: 1em;
}

.table--section,
.todo--section {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--grey);
  border-radius: 4px;
  margin: 0 1em;
}

.todo--section h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--cont);
}

.timer--section p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--green);
}
/*# sourceMappingURL=styles.css.map */